@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root {
    --color-one: #1434A3;
    --color-two: #FEFEFE;
    --font: 'Roboto Serif', serif;
}
body{
    font-family:var(--font);
    color:var(--color-one);
    box-sizing:border-box;
}
.container{
    max-width:1200px;
}
a:hover {
    text-decoration: none;
    
}
.buttum-0 {
    background: #AD8B34;
    color: var(--color-two);
    border-radius: 45px;
    padding: 10px 11px;
}